#calculator{
    width: 500px;
    height: 500px;
    margin: 100px auto;
    background-color: #9dc9da;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3px;
    font-size: 35px;
    font-weight: 500;
}
#display, .arithmetic-signs, #equal, .numbers, #clear{
    display: flex;
    align-items: center;
    justify-content: center;
}
#display{
    grid-column: 1 / span 4;
    color: white;
    background-color: black;
    border-radius: 10px 10px 0 0;
    font-size: 50px;
    justify-content: flex-end;
    padding: 0 30px;
    overflow: hidden;
}
.arithmetic-signs{
    background-color: lightgray;
}
#equal{
    grid-row: 3 / span 4;
    grid-column: 4;
    background-color: salmon;
    border-radius: 0 0 10px 0;
}
.numbers, #clear{
    background-color: whitesmoke;
}
#zero{
    border-radius: 0 0 0 10px;
}
h1{
    text-align: center;
    height: 300px;
}